/* App.css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: thin solid red; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  min-height: 100vh;
}


header {
  background-color: #696767;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  min-height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Add any other styles you need */